#cy {
  border: solid;
  border-width: 1px;
  height: 100%;
}

#cy1 {
  border: solid;
  border-width: 1px;
  height: 100%;
}

#cy2 {
  border: solid;
  border-width: 1px;
  height: 100%;
}

.navbar-inverse {
    color: whitesmoke;
}

.container {
    padding-top: 50px;
}

.container-fluid {
    padding-top: 50px;
}
