<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Microbiome Metabolism Knowledge Base</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <h1>Welcome to the Microbiome Metabolism Knowledge Base!</h1>
        </div>
        <div class="col-md-12">
            <a href="{{ url_for('retrive_single_otu_entry') }}">Look up a single OTU</a>
        </div>
        <div class="col-md-12">
            <a href="{{ url_for('retrive_paired_otu_entry') }}">Compare two OTUs</a>
        </div>
    </div>
</body>
</html>