<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pair OTU Result</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='cytoscape.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var win = $(window);
            win.resize(function() {
                resize();
            });
            function resize() {
                console.log(win.height(), win.innerHeight());
                $("#cy-container1").height(win.innerHeight() - 130);
                $("#cy-container2").height(win.innerHeight() - 130);
                cy1.resize();
                cy2.resize();
            }
            setTimeout(resize, 0);
            var cy1 = window.cy1 = cytoscape({
                layout: {
                    name: 'cose'
                },
                container: document.getElementById('cy1'),
                elements: {{ eles1 | safe }},
                style: [
                    {
                        selector: 'edge',
                        style: {
                            'target-arrow-shape': 'triangle',
                            'target-arrow-color': 'black'
                        }
                    },
                    {
                        selector: 'node',
                        style: {
                            'label': 'data(id)',
                            'text-valign': 'center',
                            'background-color': 'mapData(Seed, 0, 1, gray, red)'
                        }
                    }
                ]
            });
            var cy2 = window.cy2 = cytoscape({
                layout: {
                    name: 'cose'
                },
                container: document.getElementById('cy2'),
                elements: {{ eles2 | safe }},
                style: [
                    {
                        selector: 'edge',
                        style: {
                            'target-arrow-shape': 'triangle',
                            'target-arrow-color': 'black'
                        }
                    },
                    {
                        selector: 'node',
                        style: {
                            'label': 'data(id)',
                            'text-valign': 'center',
                            'background-color': 'mapData(Seed, 0, 1, gray, red)'
                        }
                    }
                ]
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <h1>Pair OTU Result</h1>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> OTU {{ genome1.name }}</h3>
                </div>
                <div class="panel-body">
                    <h4>Taxonomy:</h4>
                    <p>{{ genome1.taxonomy }}</p>
                    <h4>NSTI:</h4>
                    <p>{{ genome1.nsti }}</p>
                    <h4>Metabolic Network:</h4>
                    <div id="cy-container1">
                        <div id="cy1"></div>
                    </div>
                    <h4>Unique Seed Compounds:</h4>
                    <p>
                    {% for i in seeds1 %}
                        <a href="http://www.genome.jp/dbget-bin/www_bget?{{ i }}">{{ i }}</a>
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> OTU {{ genome2.name }}</h3>
                </div>
                <div class="panel-body">
                    <h4>Taxonomy:</h4>
                    <p>{{ genome2.taxonomy }}</p>
                    <h4>NSTI:</h4>
                    <p>{{ genome2.nsti }}</p>
                    <h4>Metabolic Network:</h4>
                    <div id="cy-container2">
                        <div id="cy2"></div>
                    </div>
                    <h4>Unique Seed Compounds:</h4>
                    <p>
                    {% for i in seeds2 %}
                        <a href="http://www.genome.jp/dbget-bin/www_bget?{{ i }}">{{ i }}</a>
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">OTU {{ genome1.name }} and OTU {{ genome2.name }} Comparison</h3>
                </div>
                <div class="panel-body">
                    <h4>Shared Seeds:</h4>
                    <p>
                    {% for i in shared_seeds %}
                        <a href="http://www.genome.jp/dbget-bin/www_bget?{{ i }}">{{ i }}</a>
                    {% endfor %}
                    </p>
                    <h4>BSS Scores:</h4>
                    <p>{{ genome1.name }} BSS with respect to {{ genome2.name }}: {{ net1net2_bss }}</p>
                    <p>{{ genome2.name }} BSS with respect to {{ genome1.name }}: {{ net2net1_bss }}</p>
                    <h4>MCI Scores:</h4>
                    <p>{{ genome1.name }} BSS with respect to {{ genome2.name }}: {{ net1net2_mci }}</p>
                    <p>{{ genome2.name }} BSS with respect to {{ genome1.name }}: {{ net2net1_mci }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>