<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pair OTU Result</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <h1>Pair OTU Result</h1>
        </div>
        <div class="col-md-6">
            <h4>Taxonomy:</h4>
            <p>{{ genome1.taxonomy }}</p>
            <h4>NSTI:</h4>
            <p>{{ genome1.nsti }}</p>
            <h4>Metabolic Network:</h4>
            <p>placeholder</p>
            <h4>Seed Compounds:</h4>
            <p>placeholder</p>
        </div>
        <div class="col-md-6">
            <h4>Taxonomy:</h4>
            <p>{{ genome2.taxonomy }}</p>
            <h4>NSTI:</h4>
            <p>{{ genome2.nsti }}</p>
            <h4>Metabolic Network:</h4>
            <p>placeholder</p>
            <h4>Seed Compounds:</h4>
            <p>placeholder</p>
        </div>
    </div>
</body>
</html>