<!doctype html>
<html>
<head>
    <title>Tutorial 1: Getting Started</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='cytoscape.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var win = $(window);
            win.resize(function() {
                resize();
            });
            function resize() {
                console.log(win.height(), win.innerHeight());
                $("#cy-container").height(win.innerHeight() - 130);
                cy.resize();
            }
            setTimeout(resize, 0);
            var cy = window.cy = cytoscape({
                layout: {
                    name: 'cose'
                },
                container: document.getElementById('cy'),
                elements: {{ eles | safe }},
                style: [
                    {
                        selector: 'edge',
                        style: {
                            'target-arrow-shape': 'triangle',
                            'target-arrow-color': 'black'
                        }
                    },
                    {
                        selector: 'node',
                        style: {
                          'label': 'data(id)',
                          'text-valign': 'center'
                        }
                    }
                ]
          });
        });
    </script>
</head>
<body>
  <!-- container-fluid : start -->
  <div class="container-fluid">
      <div class="col-md-12">
          <h1>Metabolic Network</h1>
      </div>
      <div class="col-md-12">
          <div id="cy-container">
              <div id="cy"></div>
          </div>
      </div>
  </div>
  <!-- container-fluid : end -->
</body>
</html>