<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single OTU Result</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='cytoscape.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='cytoscape-ngraph.forcelayout.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(function() {
            var win = $(window);
            win.resize(function() {
                resize();
            });
            function resize() {
                console.log(win.height(), win.innerHeight());
                $("#cy-container").height(win.innerHeight() - 130);
                cy.resize();
            }
            setTimeout(resize, 0);
            var cy = window.cy = cytoscape({
                layout: {
{#                    name: 'cytoscape-ngraph.forcelayout',#}
{#                    async: {#}
{#                        maxIterations: 9000,#}
{#                        stepsPerCycle: 100,#}
{#                        waitForStep: true#}
{#                    },#}
{#                    physics: {#}
{#                        springLength: 150,#}
{#                        springCoeff: 0.0008,#}
{#                        gravity: -1.2,#}
{#                        theta: 0.8,#}
{#                        dragCoeff: 0.001,#}
{#                        timeStep: 20,#}
{#                        iterations: 10000,#}
{#                        fit: true,#}
{#                        stableThreshold: 0.000009#}
{#                     },#}
{#                     iterations: 10000,#}
{#                     refreshInterval: 10000000, // in ms#}
{#                     refreshIterations: 1000000, // iterations until thread sends an update#}
{#                     stableThreshold: 2,#}
{#                     animate: false,#}
{#                     fit: true#}
                    name: 'cose'
                },
                container: document.getElementById('cy'),
                elements: {{ eles | safe }},
                style: [
                    {
                        selector: 'edge',
                        style: {
                            'target-arrow-shape': 'triangle',
                            'target-arrow-color': 'black'
                        }
                    },
                    {
                        selector: 'node',
                        style: {
                            'label': 'data(id)',
                            'text-valign': 'center',
                            'background-color': 'mapData(Seed, 0, 1, gray, red)'
                        }
                    }
                ]
            });
            $("#fit").click(function() {
                console.log('cy=', cy);
                cy.fit();
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <h1>Single OTU Analysis</h1>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> OTU {{ genome.name }}</h3>
                </div>
                <div class="panel-body">
                    <h4>Taxonomy:</h4>
                    <p data-toggle="tooltip" data-placement="top" title="{{ genome.taxonomy }}">{{ taxa_str }}</p>
                    <h4>NSTI:</h4>
                    <p>{{ genome.nsti }}</p>
                    <h4>Metabolic Network:</h4>
                    <div id="cy-container">
                        <div id="cy"></div>
                    </div>
                    <button type="button" id="fit" class="btn btn-default">Recenter</button>
                    <h4>Seed Compounds:</h4>
                    <p>
                    {% for i in seeds %}
                        <a href="http://www.genome.jp/dbget-bin/www_bget?{{ i }}">{{ i }}</a>
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>