<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single OTU Result</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='cytoscape.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='cytoscape-ngraph.forcelayout.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var win = $(window);
            win.resize(function() {
                resize();
            });
            function resize() {
                console.log(win.height(), win.innerHeight());
                $("#cy-container").height(win.innerHeight() - 130);
                cy.resize();
            }
            setTimeout(resize, 0);
            var cy = window.cy = cytoscape({
                layout: {
                    name: 'cose'
                },
                container: document.getElementById('cy'),
                elements: {{ eles | safe }},
                style: [
                    {
                        selector: 'edge',
                        style: {
                            'target-arrow-shape': 'triangle',
                            'target-arrow-color': 'black'
                        }
                    },
                    {
                        selector: 'node',
                        style: {
                            'label': 'data(id)',
                            'text-valign': 'center',
                            'background-color': 'mapData(Seed, 0, 1, gray, red)'
                        }
                    }
                ]
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <h1>Single OTU Analysis</h1>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> OTU {{ genome.name }}</h3>
                </div>
                <div class="panel-body">
                    <h4>Taxonomy:</h4>
                    <p>{{ genome.taxonomy }}</p>
                    <h4>NSTI:</h4>
                    <p>{{ genome.nsti }}</p>
                    <h4>Metabolic Network:</h4>
                    <div id="cy-container">
                        <div id="cy"></div>
                    </div>
                    <h4>Seed Compounds:</h4>
                    <p>
                    {% for i in seeds %}
                        <a href="http://www.genome.jp/dbget-bin/www_bget?{{ i }}">{{ i }}</a>
                    {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>